/* backgrounds */
body {
  background-image: url(../images/bricks.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

/* backgrounds */
header nav {
  background-image: url(../images/black2.png); }
  header nav div a {
    color: whitesmoke !important;
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.dropdown-menu {
  background-color: black; }

.dropdown-item:hover {
  color: black !important;
  text-decoration: underline; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.nosotros {
  color: whitesmoke !important; }
  .nosotros h2 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .nosotros p {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.maps-nosotros {
  height: 600px; }

@media only screen and (max-width: 768px) {
  .maps-nosotros {
    height: 400px; } }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.central {
  color: whitesmoke !important; }
  .central h1 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .central h2 {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .central div h3 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .central div p {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.info-central {
  position: relative;
  width: 100%; }

.image-central {
  display: block;
  width: 100%;
  height: auto; }

.info-overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: whitesmoke !important;
  width: 100%;
  transition: .8s ease;
  opacity: 0;
  color: whitesmoke !important;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.info-central:hover .info-overlay {
  opacity: 1; }

.carousel-central {
  padding: 20px 0px; }

@media only screen and (min-width: 769px) {
  .carousel-central {
    display: none; } }

@media only screen and (max-width: 768px) {
  .liveShow {
    display: none; }
  .logo-bar {
    display: none; } }

li {
  list-style-type: none;
  display: inline;
  margin-right: 20px; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.menu {
  color: whitesmoke !important;
  font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.evento {
  color: white; }
  .evento h1 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

/* .entrada {
    border-radius: 6px;
}

.entrada-uno, .entrada-dos, .entrada-tres {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.entrada:hover {
    opacity:0;

}
 */
.ticket {
  position: relative; }

.image {
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease; }

.ticket:hover .overlay {
  opacity: 1; }

.imageover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.main-error {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center; }

.error {
  display: table-cell;
  vertical-align: middle;
  font-size: 2rem;
  color: whitesmoke !important;
  font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
