/* backgrounds */
body {
  background-image: url(../images/bricks.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

/* backgrounds */
header nav {
  background-image: url(../images/black2.png); }
  header nav div a {
    color: whitesmoke !important;
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.dropdown-menu {
  background-color: black; }

.dropdown-item:hover {
  color: black !important;
  text-decoration: underline; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.nosotros {
  color: whitesmoke !important; }
  .nosotros h2 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .nosotros p {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.central {
  color: whitesmoke !important; }
  .central h1 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .central h2 {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .central div h3 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
  .central div p {
    font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.carousel-central {
  padding: 20px 0px; }

@media only screen and (min-width: 769px) {
  .carousel-central {
    display: none; } }

@media only screen and (max-width: 768px) {
  .liveShow {
    display: none; } }

li {
  list-style-type: none;
  display: inline;
  margin-right: 20px; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.menu {
  color: whitesmoke !important;
  font-family: "Coco", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.evento {
  color: white; }
  .evento h1 {
    font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

/* fuentes y colores*/
@font-face {
  font-family: Erosion;
  src: local("erosion"), url(../base/fonts/erosion.ttf); }

@font-face {
  font-family: Coco;
  src: local("coco"), url(../base/fonts/coco.ttf); }

.main-error {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center; }

.error {
  display: table-cell;
  vertical-align: middle;
  font-size: 2rem;
  color: whitesmoke !important;
  font-family: "Erosion", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }
