@import "../base/fonts";

.central {
    color: $f-color;
    h1 {
        font-family: $f-family-tittles;
    }
    h2{
        font-family: $f-family-parraf;
    }
    div {
        h3{
            font-family: $f-family-tittles;
        }
        p{
            font-family: $f-family-parraf;
        }
    }
}

.info-central {
    position: relative;
    width: 100%;
  
  }
  
  .image-central {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .info-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: $f-color; 
    width: 100%;
    transition: .8s ease;
    opacity:0;
    color: $f-color; 
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: $f-family-parraf;
  }
  
  .info-central:hover .info-overlay {
    opacity: 1;
  }

.carousel-central {

    padding: 20px 0px;

}

@media only screen and (min-width: 769px) {

    .carousel-central {
        display: none;
    }

}
@media only screen and (max-width: 768px) {

  .liveShow {
    display: none;
    }

  .logo-bar {
    display: none;
    }

}

@media only screen and (max-width: 365px) {


}