@import "../base/fonts";

.main-error {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.error {
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    color: $f-color;
    font-family: $f-family-tittles;
}