@import "../base/fonts";

.nosotros {
    color: $f-color;

    h2 {
        font-family: $f-family-tittles;
    }

    p {
        font-family: $f-family-parraf;
    }

}

.maps-nosotros {
    
    height: 600px;

}

@media only screen and (max-width: 768px) {

    .maps-nosotros {
    
        height: 400px;
    
    }
  
  }