/* fuentes y colores*/


@font-face {
    font-family: erosion;
  src: local('Erosion'),
  url(../base/fonts/erosion.ttf);

}

$f-color: whitesmoke !important;
$f-family-parraf: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$f-family-tittle: 'Erosion', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


$maps: (
    tittle-new: white,

    border-top: 1px,
    border-bottom: 4px,
);